*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑", "宋体";
}
img,input{
    border: none;
    vertical-align: middle;
    outline: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.content{
    font-family: "微软雅黑", "宋体";
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 10000;/*什么意思*/
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.conNav{
    position: relative;
    font-size: 0;
    padding-top: 0;
    height: 36px;
    width: 100%;
    background: #fff;
    white-space: normal;
}
.inner{
    position: absolute;
    height: 36px;
    width: 100%;
    background-color: #dd2727;
    bottom: 0;
    line-height: 36px;
}
.w1260{
    display: block;
    width: 1230px;
    margin: 0 auto;
    padding-right: 30px;
}
.w1045{
    margin-left: 215px;
    width: 85%;
}
.w1045 a{
    display: block;
    position: relative;
    height: 36px;
    width: 70px;
    cursor: pointer;
    float: left;
    padding: 0 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

}
.newContent{
    position: relative;
    height: 500px;
    width: 100%;
}
.goodsType{
    position: absolute;
    width: 200px;
    float: left;
    height: 36px;
    line-height: 36px;
    background-color: #c60a0a;
    z-index: 100;
    color: #fff;
    margin-top: -36px;
  margin-left: 40px;
}
.fp-iconfont{
    display: inline-block;
    font-size: 16px;
    margin-left: 14px;
    font-weight: 700;
    font-family: fpIconFont!important;
    font-style: normal;
}
.text{
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    font-weight: 700;
}
.contentTab{
    display: block;
}
.contentTab .tab{
    width: 200px;
    height: 0;
}
.contentTab .tab .normal-tab{
    background-color: rgba(238,238,238,95);
    width: 200px;
    height: 500px;
    position: relative;
    z-index: 11;
    margin-left: 40px;
}

.contentTab .tab ul li{
    position: relative;
    height: 31px;
    line-height: 31px;
    color: #000;
    font-size: 14px;
    line-height: 31px;
}
.contentTab .tab ul li i{
    display: inline-block;
    opacity: 0.5;
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}
.contentTab .tab ul li a{
    height: 19px;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}
.w1045 a .hover-pic{
    display: none;
    width: 40px;
    height: 20px;
    background-size: 40px 15px;
    transition: opacity 0.4s,transform 0.4s;
    transform: translate(-20px,-10px);
    /*background: url("../images/down.png") no-repeat center;*/
}
.w1045 a .hover-pic img{
    width: 100%;
    height: 100%;
}
.w1045 a:hover .hover-pic img{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 1;

}
/*内容中间部分*/
.content-center{
    overflow: hidden;

    background-color: #f5f5f5;
}
.content-center-inner1{
    margin: 30px auto 0;
    width: 1230px;
    padding-right: 30px;
}
.content-center-inner1_0{
    background-color: transparent;
}
.inner1_0-title {
    display: block;
    margin: 0 auto 20px;
    width: 600px;
    height: 40px;
}
.content-center-inner1_0 .inner1_0-item{
    float: left;
    display: block;
    width: 230px;
    margin-right: 10px;
}
.inner1_0-item img{
    width: 100%;
}
.tab .normal-tab li a:hover{
    display: block;
    width: 400px;
    height: 400px;
    background: #11c900;
}

.banner_1{
    width: 100%;
    height: 100%;
}

/*热门品牌*/
.new-hot-brand-con{

    margin-left: 30px;
    width: 982px;
    padding-right: 0;
}
.new-hot-brand-con .module-title {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-left: 15px;
    width: 220px;
}
.new-hot-brand-con .module-title span {
    font-size: 14px;
}
.new-hot-brand-con .module-body {
    height: 372px!important;
}
.new-hot-brand-con .module-body .poster {
    width: 245px;
    height: 371px;
    background-color: #eee;
    margin-right: 1px;
    float: left;
    width: 243px;
}
.new-hot-brand-con .module-body .poster img {
    width: 100%;
    height: 100%;
}
.new-hot-brand-con .module-body .brand-list {
    width: 738px;
    height: 372px;
    float: left;
    position: relative;
}
.new-hot-brand-con .module-body .brand-list .brand-item {
    width: 122px;
    height: 92px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-img {
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 92px;
    background-color: #fff;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-img img {
    width: 82%;
    height: 50px;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #333;
    background-color: rgba(0,0,0,.8);
    transition: all .3s ease-out;
    opacity: 0;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .brand-status {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .8;
    cursor: pointer;
    z-index: 20;
    -ms-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .coupon {
    color: #fff;
    text-align: center;
    line-height: 80px;
    height: 60px;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .coupon span {
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .enter {
    text-align: center;
    height: 32px;
}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .enter a {
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 16px;
    background-color: red;
    border-radius: 9px;
}
.new-hot-brand-con .module-body .brand-list .refresh-btn {
    width: 122px;
    height: 92px;
    display: block;
    color: #999;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    right: 1px;
    overflow: hidden;
    transition: all .3s ease-out;
}
.new-hot-brand-con .module-body .brand-list .refresh-btn .rotate-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
}
.new-hot-brand-con .module-body .brand-list .refresh-btn .btn-text {
    display: block;
    font-size: 14px;
    line-height: 120px;
    text-align: center;
}
.new-hot-brand-con .module-body .recommend-list {
    display: none!important;
}
.new-hot-brand-con .module-body .recommend-list>li {
    height: 75px;
    padding: 9px 18px;
}
.new-hot-brand-con .module-body .recommend-list>li>a {
    display: block;
}
.new-hot-brand-con .module-body .recommend-list>li>a .logo {
    width: 74px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.new-hot-brand-con .module-body .recommend-list>li>a .logo img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta {
    margin-left: 90px;
    padding: 17px 0;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta .title {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s ease-out;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta .desc {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s ease-out;
}
.new-hot-brand-con .module-body .recommend-list {
    width: 246px;
    height: 371px;
    background-color: #f9f8f3;
    float: left;
}
.new-hot-brand-con .module-body .recommend-list>li {
    height: 75px;
    padding: 9px 18px;
}
.new-hot-brand-con .module-body .recommend-list>li>a .logo {
    width: 74px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.new-hot-brand-con .module-body .recommend-list>li>a .logo img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta {
    margin-left: 90px;
    padding: 17px 0;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta .title {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s ease-out;
}
.new-hot-brand-con .module-body .recommend-list>li>a .meta .desc {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s ease-out;
}
/*居家*/
i{
    font-style: normal;/*什么意思*/
}
a{
    outline: none;
    color: #000;
    text-decoration: none;
}
.floor-line-con{
    margin: 30px auto;
    width: 1230px;
    height: 470px;
    position: relative;
}
/*图标*/
.floor-line-con .color-mark{
    display: inline-block;
    width: 5px;
    height: 20px;
    vertical-align: top;/*什么意思*/
    background-color: #64C333;
}
.floor-line-con .floor-name{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #000;
    line-height: 18px;
    margin-left: 10px;
}
.floor-line-con .floor-sub-name{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;/*这个数字是怎么过来的*/
    height: 18px;
}
.floor-line-con .line-body{
    width: 100%;
    height: 440px;
    margin-top: 10px;
}
.floor-line-con .line-body .hot-word-con{
    position: absolute;
    top:0;
    right: 0;
    width: 800px;
    text-align: right;
}
.floor-line-con .line-body .big-banner-con{/*erer*/
    float: left;
    position: relative;
    width: 246px;
    height: 440px;
}
.floor-line-con .line-body .big-banner-con img{
    display: block;
    width: 100%;
    height: 330px;
    /* transition: opacity 300ms ease-out;*/
}
.floor-line-con .line-body .big-banner-con .title-con{
    height: 110px;
    width: 100%;
    overflow: hidden;
    color: #fff;
    position: relative;
    background-color: #64C333;
}
.line-body .big-banner-con .title-con .title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
}
.line-body .big-banner-con .title-con .sub-title{
    width: 100%;
    text-align: center;/*文本放中间*/
    font-size: 18px;
}
.floor-line-con .line-body .middle-column-con{/*erere*/
    width: 735px;
    height: 440px;
    float: left;
}
.line-body .grid{
    float: left;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.line-body .middle-column-con .one-grid{
    width: 244px;
    height: 220px;
}
.line-body .grid .title{
    position: absolute;
    top:25px;
    left:25px;
    width: 220px;
    font-size: 18px;
    z-index: 0;/*什么意思*/
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;/*什么意思*/
    overflow: hidden;
    white-space: nowrap;/*什么意思*/
}
.line-body .grid .sub-title{
    position: absolute;
    top:54px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 0;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #64C333;
}
.line-body .grid img{
    width: 154px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: right 0.3s;
}
.line-body .right-column-con {
    float: left;
    width: 248px;
    height: 440px;
}
.line-body .right-column-con .second-grid{
    width: 248px;
    height: 146px;
}
.line-body .right-column-con .second-grid img{
    width: 100px;
    height: 100px;
}
.line-body .hot-word-con{
    position: absolute;
    top:0;
    right: 0;
    width: 800px;
    text-align: right;
}
.line-body .hot-word{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
}
.line-body .hot-word:hover{
    border-bottom: 1px solid #000;
}
/*美丽人生*/
.floor-line-con{
    margin: 30px auto;
    width: 1230px;
    height: 470px;
    position: relative;
}
/*图标*/
.floor-line-con .color-mark{
    display: inline-block;
    width: 5px;
    height: 20px;
    vertical-align: top;/*什么意思*/
    background-color: #64C333;
}
.floor-line-con .floor-name{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #000;
    line-height: 18px;
    margin-left: 10px;
}
.floor-line-con .floor-sub-name{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;/*这个数字是怎么过来的*/
    height: 18px;
}
.floor-line-con .line-body{
    width: 100%;
    height: 440px;
    margin-top: 10px;
}
.floor-line-con .line-body .hot-word-con{
    position: absolute;
    top:0;
    right: 0;
    width: 800px;
    text-align: right;
}
.floor-line-con .line-body .big-banner-con{/*erer*/
    float: left;
    position: relative;
    width: 246px;
    height: 440px;
}
.floor-line-con .line-body .big-banner-con img{
    display: block;
    width: 100%;
    height: 330px;
    /* transition: opacity 300ms ease-out;*/
}
.floor-line-con .line-body .big-banner-con .title-con{
    height: 110px;
    width: 100%;
    overflow: hidden;
    color: #fff;
    position: relative;
    background-color: #EA5F80;
}
.line-body .big-banner-con .title-con .title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
}
.line-body .big-banner-con .title-con .sub-title{
    width: 100%;
    text-align: center;/*文本放中间*/
    font-size: 18px;
}
.floor-line-con .line-body .middle-column-con{/*erere*/
    width: 735px;
    height: 440px;
    float: left;
}
.line-body .grid{
    float: left;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.line-body .middle-column-con .one-grid{
    width: 244px;
    height: 220px;
}
.line-body .grid .title{
    position: absolute;
    top:25px;
    left:25px;
    width: 220px;
    font-size: 18px;
    z-index: 0;/*什么意思*/
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;/*什么意思*/
    overflow: hidden;
    white-space: nowrap;/*什么意思*/
}
.line-body .grid .sub-title{
    position: absolute;
    top:54px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 0;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #64C333;
}
.line-body .grid img{
    width: 154px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: right 0.3s;
}
.line-body .right-column-con {
    float: left;
    width: 248px;
    height: 440px;
}
.line-body .right-column-con .second-grid{
    width: 248px;
    height: 146px;
}
.line-body .right-column-con .second-grid img{
    width: 100px;
    height: 100px;
}
.line-body .hot-word-con{
    position: absolute;
    top:0;
    right: 0;
    width: 800px;
    text-align: right;
}
.line-body .hot-word{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
}
.line-body .hot-word:hover{
    border-bottom: 1px solid #000;
}

